- content_for :projects do
  %h2 Projects

  - @projects.each do |project|
    - num_weeks = project.num_weeks_scheduled(@weeks)
    .project{ :class => num_weeks == 0 ? 'no_weeks' : '' }
      .title{ :id => project.id, :style => "background-color: #{project.color}" }
        = link_to project.title, edit_project_path(project)
        .more_info
          Target:
          = project.target_date.strftime('%m/%y')
          %br
          Weeks:
          = num_weeks
      .description
        = project.description

  = link_to 'New Project', new_project_path, :class => 'button'
