- content_for :projects do
  %h2 Projects

  - @projects.each do |project|
    .project
      .title{ :id => project.id, :style => "background-color: #{project.color}" }
        = link_to project.title, edit_project_path(project)
        .more_info
          Target:
          = project.target_date
          %br
          Weeks:
          = project.weeks.length
      .description
        = project.description

  = link_to 'New Project', new_project_path, :class => 'button'
